body{
    background-image: url(Home.png);
    background-size: cover;
    background-position: center;
}
h1{
    color: azure;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    padding-top: 40px;
}
p{
    letter-spacing: 1px;
    color: azure;
    font-size: 18px;
    text-align: center;
    position: relative;
    top: 20px;
}
.line{
    border: 1px solid rgb(255, 255, 255);
    width: 10%;
    position: relative;
    left: 675px;
}

iframe{
    width: 600px;
    height: 400px;
    position: relative;
    left: 850px;
    top: 60px;
}


.btn.btn2{
    position: relative;
    border: 1px solid azure;
    border-radius: 3px;
    color: #fff;
    background: none;
    top: 20px;
    width: 14%;
    height: 4vh;
    left: 280px;
}

.btn.btn2:hover{
    background-color: white;
    color: black;
}
.contact-right form{
    height: 10px;
    position: relative;
    width: 45%;
    padding-left: 40px;
    top: 70px;
}
form input, form textarea{
    width:  100%;
    border: 0;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}